# Python

**pycache**/
*.py[cod]
*$py.class

# Entornos virtuales

venv/
env/
.venv/

# Variables de entorno

.env
.env.*

# Flask

instance/
.webassets-cache

# Logs

*.log

# Bases de datos

*.db
*.sqlite3

# IDEs

.vscode/
.idea/

# Sistema

.DS_Store

# Temporales

*.tmp
*.swp

# Build

build/
dist/

# Testing

.pytest_cache/
.coverage

# Node (si añades frontend)

node_modules/
